<!DOCTYPE html>
<html>
  <head>
    <title>SignifyMe</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about-us1.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='page_icon.ico') }}">
  </head>
  <body>
    <div class="about-us1">
      <header class="taskbar3">
        <div class="signify-me-logo-copy-1-container">
          <img
            class="signify-me-logo-copy-13"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/signify-me-logo-copy-1.svg') }}"
            id="signifyMeLogoCopy1"
          />
        </div>
        <div class="taskbar-buttons1">
          <div class="home1" id="taskbar-home">Home</div>
        </div>
        <div class="taskbar-buttons2">
          <div class="home2" id="taskbar-video">Video Translator</div>
        </div>
        <div class="taskbar-buttons3">
          <div class="home3" id="taskbar-livecam">Live Cam Translator</div>
        </div>
        <div class="taskbar-buttons4">
          <div class="home4" id="taskbar-dict">Phrase Dictionary</div>
        </div>
        <div class="taskbar-buttons5">
          <div class="home5" id="taskbar-aboutus">About Us</div>
        </div>
      </header>
      <section class="about-us-child">
        <div class="we-strive-to-make-every-step-w-group">
          <h1 class="we-strive-to-container1">
            <p class="we-strive-to1">
              We strive to make every step we take, a testament of diversity,
              inclusivity and
            </p>
            <p class="empowerment1">empowerment.</p>
          </h1>
          <img
            class="pexels-shvets-production-75162-icon1"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/pexelsshvetsproduction7516283-1@2x.png') }}"
          />
        </div>
      </section>
      <section class="frame-section">
        <div class="frame-parent3">
          <button class="our-story-container">
            <div class="our-story1">OUR STORY</div>
          </button>
          <div class="signify-me-as1">
            Signify Me, as a community, is dedicated to advancing the
            inclusivity of individuals who are hard of hearing, providing a
            platform that facilitates expression of their identity, values, and
            cultural heritage. Through our efforts, we aim to foster a more
            inclusive society where everyone has the opportunity to communicate
            effectively and participate fully in community life.
          </div>
        </div>
      </section>
      <section class="image-6-wrapper">
        <img
          class="image-6-icon1"
          loading="lazy"
          alt=""
          src="{{ url_for('static', filename='public/image-6@2x.png') }}"
        />
      </section>
      <section class="about-us-inner1">
        <div class="frame-parent4">
          <div class="frame-parent5">
            <button class="our-values-wrapper">
              <div class="our-values1">OUR VALUES</div>
            </button>
            <div class="here-are-the1">
              Here are the four guidelines we stick to protect you in these
              shifting environments
            </div>
          </div>
          <div class="group-div">
            <div class="frame-parent6">
              <div class="we-believe-in-uplifting-one-an-parent">
                <h1 class="we-believe-in1">
                  We believe in uplifting one another.
                </h1>
                <div class="we-recognise-that1">
                  We recognise that not everyone starts with the same
                  opportunities in life and hence, foster an environment where
                  no one feels excluded or marginalised. As a community, we come
                  together to empower and understand each other, where we give
                  and receive love unconditionally.
                </div>
              </div>
              <div class="we-give-back-to-the-community-group">
                <h1 class="we-give-back1">We give back to the community.</h1>
                <div class="we-find-great1">
                  We find great joy in giving back to the community that has
                  supported us by curating online resources and making them
                  readily accessible to our users. Our aim is to enhance their
                  knowledge and support them in exploring new horizons with
                  ease.
                </div>
              </div>
            </div>
            <div class="frame-parent7">
              <div class="we-thrive-on-our-creativity-group">
                <h1 class="we-thrive-on1">We thrive on our creativity.</h1>
                <div class="we-enjoy-constantly1">
                  We enjoy constantly devising fresh and innovative solutions to
                  tackle both overlooked challenges and those that push the
                  boundaries of our abilities. We relish the opportunity to
                  confront problems that have been underexplored or overlooked,
                  seeing them as fertile ground for inventive approaches.
                </div>
              </div>
              <div class="we-trust-our-determination-group">
                <h1 class="we-trust-our1">We trust our determination.</h1>
                <div class="we-are-resolutely1">
                  We are resolutely focused on raising awareness about the
                  rights and needs of the deaf community, particularly in the
                  realm of career and job opportunities. Our determination
                  drives us to advocate tirelessly for equal access and
                  inclusion in professional settings.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="macbook-pro-16-1-wrapper">
        <div class="macbook-pro-16-11">
          <button class="our-team-container">
            <div class="our-team1">OUR TEAM</div>
          </button>
          <div class="our-team-label">
            <div class="meet-the-talented-young-minds-wrapper">
              <h1 class="meet-the-talented1">
                Meet the talented young minds behind this
                more-than-a-college-project website
              </h1>
            </div>
            <div class="frame-parent8">
              <div class="image-7-group">
                <div>
                  <img
                  class="image-7-icon1"
                  loading="lazy"
                  alt=""
                  src="{{ url_for('static', filename='public/image-7@2x.png') }}"
                  />
                  <div class="frame-wrapper1">
                    <div class="sure-akshita-group">
                      <h2 class="sure-akshita1">Sure Akshita</h2>
                      <div class="frame-wrapper2">
                        <img
                          class="frame-inner"
                          loading="lazy"
                          alt=""
                          src="{{ url_for('static', filename='public/frame-315.svg') }}"
                          id="frame"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="mai-kuch-chomu-container1">
                    <p class="mai-kuch-chomu1">
                      mai kuch chomu type bol dungi ooo akshita gun leke goli
                      mar dungi ooo
                    </p>
                    <p class="role-professional1">
                      ROLE : professional yapping
                    </p>
                  </div>
                </div>
                
                <div>
                  <img
                    class="image-8-icon1"
                    loading="lazy"
                    alt=""
                    src="{{ url_for('static', filename='public/image-8@2x.png') }}"
                  />
                  <div class="frame-wrapper3">
                    <div class="mohammad-ali-haider-group">
                      <h2 class="mohammad-ali-haider1">Mohammad Ali Haider</h2>
                      <div class="frame-wrapper4">
                        <img
                          class="frame-icon"
                          alt=""
                          src="{{ url_for('static', filename='public/frame-315.svg') }}"
                          id="frame1"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="hi-ali-from-container1">
                    <p class="hi-ali-from1">
                      Mow
                    </p>
                    <p class="role-ai1">ROLE : AI dawg</p>
                  </div>
                </div>
                
                <div>
                  <img
                    class="image-9-icon1"
                    loading="lazy"
                    alt=""
                    src="{{ url_for('static', filename='public/image-9@2x.png') }}"
                  />
                  <div class="frame-wrapper5">
                    <div class="apoorva-yadav-group">
                      <h2 class="apoorva-yadav1">Apoorva Yadav</h2>
                      <div class="frame-wrapper6">
                        <img
                          class="frame-child1"
                          alt=""
                          src="{{ url_for('static', filename='public/frame-315.svg') }}"
                          id="frame2"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="retirement-kab-role-container1">
                    <p class="retirement-kab1">retirement kab</p>
                    <p class="role-pata1">ROLE : pata nhi bas roti rehti hai</p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-label-wrapper">
        <div class="footer-label">
          <div class="image-10-parent">
            <img
              class="image-10-icon1"
              loading="lazy"
              alt=""
              src="{{ url_for('static', filename='public/image-10@2x.png') }}"
            />

            <div class="image-12-container">
              <img
                class="image-12-icon1"
                loading="lazy"
                alt=""
                src="{{ url_for('static', filename='public/image-12@2x.png') }}"
              />
            </div>
          </div>
          <div class="support-links-wrapper">
            <div class="support-links">
              <div class="image-11-container">
                <img
                  class="image-11-icon1"
                  loading="lazy"
                  alt=""
                  src="{{ url_for('static', filename='public/image-11@2x.png') }}"
                />
              </div>
              <div class="quote-svgrepo-com-1-group">
                <img
                  class="quote-svgrepo-com-1-icon1"
                  loading="lazy"
                  alt=""
                  src="{{ url_for('static', filename='public/quotesvgrepocom-1.svg') }}"
                />

                <h2 class="jashn-e-bahara-with-the1">
                  Jashn-e-Bahara with the Behras &lt;33333
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer3">
        <div class="copyright-symbol2">
          <img
            class="signify-me-logo-copy-23"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/signify-me-logo-copy-2.svg') }}"
            id="signifyMeLogoCopy2"
          />

          <div class="frame-parent13">
            <div class="quick-links-container">
              <div class="quick-links3">Quick Links</div>
              <div class="live-cam-translator-parent1">
                <div class="live-cam-translator4" id="liveCamTranslator">
                  Live Cam Translator
                </div>
                <div class="video-translator4" id="videoTranslatorText">
                  Video Translator
                </div>
                <div class="phrase-dictionary4" id="phraseDictionaryText">
                  Phrase Dictionary
                </div>
                <div class="home24" id="homeText">Home</div>
              </div>
            </div>
            <div class="about3" id="aboutText">About</div>
            <div class="support3" id="supportText">Support</div>
          </div>
        </div>
        <div class="copyright-symbol-svgrepo-com-1-group">
          <img
            class="copyright-symbol-svgrepo-com-1-icon3"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/copyrightsymbolsvgrepocom-1.svg') }}"
          />

          <div class="signify-me-20243">Signify Me! 2024</div>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='script/javascript.js') }}"></script>
  </body>
</html>
