<!DOCTYPE html>
<html>
  <head>
    <title>SignifyMe</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='page_icon.ico') }}">
  </head>
  <body>
    <div class="homepage">
      <img
        class="signify-me-banner-03-1"
        alt=""
        src="{{ url_for('static', filename='public/signify-me-banner03-1@2x.png') }}"
      />

      <section class="taskbar5">
        <header class="taskbar6">
          <div class="signify-me-logo-copy-1-wrapper1">
            <img
              class="signify-me-logo-copy-15"
              loading="lazy"
              alt=""
              src="{{ url_for('static', filename='public/signify-me-logo-copy-1.svg') }}"
              id="signifyMeLogoCopy1"
            />
          </div>
          <div class="taskbar-buttons1">
            <div class="home1" id="taskbar-home">Home</div>
          </div>
          <div class="taskbar-buttons2">
            <div class="home2" id="taskbar-video">Video Translator</div>
          </div>
          <div class="taskbar-buttons3">
            <div class="home3" id="taskbar-livecam">Live Cam Translator</div>
          </div>
          <div class="taskbar-buttons4">
            <div class="home4" id="taskbar-dict">Phrase Dictionary</div>
          </div>
          <div class="taskbar-buttons5">
            <div class="home5" id="taskbar-aboutus">About Us</div>
          </div>
        </header>
        <div class="taskbar-inner">
          <div class="frame-parent14">
            <div class="frame-wrapper8">
              <div class="frame-wrapper9">
                <div class="sign-me-logo-parent">
                  <div class="sign-me-logo"></div>
                  <div class="sign-me-logo1"></div>
                </div>
              </div>
            </div>
            <div class="frame-parent15">
              <div class="main-wrapper">
                <div class="main">
                  <div class="signify-me">
                    <h1 class="signify-me1">Signify Me</h1>
                    <div class="asl-to-text">
                      ASL to Text Conversion Website
                    </div>
                  </div>
                  <div class="convert-asl-sign">
                    Convert ASL sign language into text and audio by using our
                    carefully intricated AI based website
                  </div>
                  <div class="buttons-group">
                    <button class="buttons5" id="liveCamConvertorText">
                      <div class="button5">Live Cam Converter</div>
                    </button>
                    <button class="buttons6" id="videoConvertorText">
                      <div class="button6">Video Converter</div>
                    </button>
                  </div>
                </div>
              </div>
              <div class="video-translator6">
                <div class="phrase-dictionary-parent">
                  <div class="phrase-dictionary6">
                    <img
                      class="group-icon"
                      loading="lazy"
                      alt=""
                      src="{{ url_for('static', filename='public/group.svg') }}"
                    />
                  </div>
                  <div class="translating-to-text">
                    Translating to text . . .
                  </div>
                </div>
                <div class="quick-links5">
                  <div class="signify-me-logo-container">
                    <div class="signify-me-logo2">
                      <div class="signify-me-logo-inner">
                        <div class="rectangle-div"></div>
                      </div>
                      <div class="signify-me-logo-item"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="footer-content">
        <div class="frame-parent16">
          <div class="vector-group">
            <img
              class="frame-child3"
              loading="lazy"
              alt=""
              src="{{ url_for('static', filename='public/vector-11.svg') }}"
            />

            <div class="input-field">
              <div class="your-one-and-only-gateway-for-parent">
                <h1 class="your-one-and-container">
                  <p class="your-one-and">
                    Your one and only gateway for breaking down
                  </p>
                  <p class="communication-barriers">communication barriers</p>
                </h1>
                <div class="in-a-world-container">
                  <p class="in-a-world-where-efficient-com">
                    In a world where efficient communication is essential, our
                    website attempts to bridge the gap between spoken language
                    and
                    <span class="sign-language-asl">Sign Language (ASL)</span>
                    to enable smooth engagement.
                  </p>
                  <p class="blank-line">&nbsp;</p>
                  <p class="whether-you-belong">
                    Whether you belong to the Deaf community seeking improved
                    communication, or a hearing individual eager to learn ASL,
                    our website is tailored to accommodate your requirements.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="vector-container">
            <img
              class="frame-child4"
              loading="lazy"
              alt=""
              src="{{ url_for('static', filename='public/vector-21.svg') }}"
            />

            <div class="video-translator-box">
              <div class="video-translator-box-inner">
                <div class="frame-wrapper10">
                  <div class="video-translator-parent">
                    <div class="video-translator7">Video Translator</div>
                    <div class="this-feature-allows">
                      This feature allows you to upload videos, and converts it
                      the sign language utilized within the content into text &
                      audio format.
                    </div>
                  </div>
                </div>
              </div>
              <div class="video-translator-box-child">
                <div class="live-cam-translator-parent2">
                  <div class="live-cam-translator6">Live Cam Translator</div>
                  <div class="our-platform-uses">
                    Our platform uses advanced AI and ML algorithms to
                    accurately interpret ASL gestures captured by live cameras,
                    instantly translating them into spoken language.
                  </div>
                </div>
              </div>
              <div class="video-translator-box-inner1">
                <div class="frame-wrapper11">
                  <div class="phrase-dictionary-group">
                    <div class="phrase-dictionary7">Phrase Dictionary</div>
                    <div class="want-to-look">
                      Want to look up a specific sign? No problem - our
                      dictionary for has got you covered. Currently under
                      construction, will be available soon.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer5">
        <div class="signify-me-logo-copy-2-group">
          <img
            class="signify-me-logo-copy-25"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/signify-me-logo-copy-2.svg') }}"
            id="signifyMeLogoCopy2"
          />

          <div class="frame-parent17">
            <div class="quick-links-parent2">
              <div class="quick-links6">Quick Links</div>
              <div class="live-cam-translator-parent3">
                <div class="live-cam-translator7" id="liveCamTranslator">
                  Live Cam Translator
                </div>
                <div class="video-translator8" id="videoTranslatorText">
                  Video Translator
                </div>
                <div class="phrase-dictionary8" id="phraseDictionaryText">
                  Phrase Dictionary
                </div>
                <div class="home36" id="homeText">Home</div>
              </div>
            </div>
            <div class="about5" id="aboutText">About</div>
            <div class="support5" id="supportText">Support</div>
          </div>
        </div>
        <div class="copyright-symbol-svgrepo-com-1-container">
          <img
            class="copyright-symbol-svgrepo-com-1-icon5"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/copyrightsymbolsvgrepocom-1.svg') }}"
          />

          <div class="signify-me-20245">Signify Me! 2024</div>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='script/javascript.js') }}"></script>
  </body>
</html>
