<!DOCTYPE html>
<html>
  <head>
    <title>SignifyMe</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}"  />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/livecam.css') }}"  />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='page_icon.ico') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  </head>
  <body>
    <div class="livecam">
      <header class="taskbar1">
        <div class="taskbar-button">
          <img
            class="signify-me-logo-copy-11"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/signify-me-logo-copy-1.svg') }}"
            id="signifyMeLogoCopy1"
          />
        </div>
        <div class="taskbar-buttons1">
          <div class="home1" id="taskbar-home">Home</div>
        </div>
        <div class="taskbar-buttons2">
          <div class="home2" id="taskbar-video">Video Translator</div>
        </div>
        <div class="taskbar-buttons3">
          <div class="home3" id="taskbar-livecam">Live Cam Translator</div>
        </div>
        <div class="taskbar-buttons4">
          <div class="home4" id="taskbar-dict">Phrase Dictionary</div>
        </div>
        <div class="taskbar-buttons5">
          <div class="home5" id="taskbar-aboutus">About Us</div>
        </div>
      </header>
      <section class="taskbar-button1">
        <div class="taskbar-button2">
          <div class="taskbar-button3">
            <div class="live-cam-translator-group">
              <h1 class="live-cam-translator1">Live Cam Translator</h1>
              <div class="convert-asl-to">
                Convert ASL to English in Real Time
              </div>
            </div>
            <div class="instructions-ensure-that-container">
              <p class="instructions">INSTRUCTIONS:</p>
              <p class="ensure-that-your">
                Ensure that your device's camera is enabled and positioned to
                capture the ASL gestures clearly.
              </p>
              <p class="start-the-live">
                Start the live camera feature on the platform to activate the
                translation functionality.
              </p>
              <p class="the-text-box">
                The Text Box below will display the translated text
                corresponding to the ASL gestures.
              </p>
            </div>
          </div>
          <div class="taskbar-button-inner">
            <div class="frame-parent1">
              <div class="buttons-wrapper">
                <button class="buttons" id="camera-toggle">
                  <div class="button" id="camera_text_element">TURN ON CAMERA</div>
                </button>
              </div>
              <div class="cam-area-parent">
                <div class="cam-area" id="camera-area"></div>
                <div class="buttons-parent" id="button-start-stop">
                  <div class="buttons1" id="start_stop">
                    <div class="button1" id="start_stop_text">START</div>
                  </div>
                </div>
                <div class="audio-indicator-parent" id="audio-indicator">
                  <div class="audio-indicator">
                    <div class="translated-text">TRANSLATED TEXT:</div>
                    <div class="textbox-container">
                      <div class="textbox" id="translated_words"></div>
                    </div>
                    <div class="translate-to-audio-text">
                      <div class="for-audio-click">for audio, click here:</div>
                      <img class="signify-me-logo-child" id="audio-button" src="{{ url_for('static', filename='public/vector-3.svg') }}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer1">
        <div class="copyright-symbol">
          <img
            class="signify-me-logo-copy-21"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/signify-me-logo-copy-2.svg') }}"
            id="signifyMeLogoCopy2"
          />

          <div class="frame-parent2">
            <div class="quick-links-group">
              <div class="quick-links1">Quick Links</div>
              <div class="navigation-items">
                <div class="live-cam-translator2" id="liveCamTranslator">
                  Live Cam Translator
                </div>
                <div class="video-translator1" id="videoTranslatorText">
                  Video Translator
                </div>
                <div class="phrase-dictionary2" id="phraseDictionaryText">
                  Phrase Dictionary
                </div>
                <div class="home11" id="homeText">Home</div>
              </div>
            </div>
            <div class="about1" id="aboutText">About</div>
            <div class="support1" id="supportText">Support</div>
          </div>
        </div>
        <div class="home-nav-link">
          <img
            class="copyright-symbol-svgrepo-com-1-icon1"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/copyrightsymbolsvgrepocom-1.svg') }}"
          />

          <div class="signify-me-20241">Signify Me! 2024</div>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='script/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='script/livecam.js') }}"></script>

  </body>
</html>
