<!DOCTYPE html>
<html>
  <head>
    <title>SignifyMe</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/video.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='page_icon.ico') }}">
  </head>
  <body>
    <div class="video">
      <header class="taskbar2">
        <div class="home-button">
          <img
            class="signify-me-logo-copy-12"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/signify-me-logo-copy-1.svg') }}"
            id="signifyMeLogoCopy1"
          />
        </div>
        <div class="taskbar-buttons1">
          <div class="home1" id="taskbar-home">Home</div>
        </div>
        <div class="taskbar-buttons2">
          <div class="home2" id="taskbar-video">Video Translator</div>
        </div>
        <div class="taskbar-buttons3">
          <div class="home3" id="taskbar-livecam">Live Cam Translator</div>
        </div>
        <div class="taskbar-buttons4">
          <div class="home4" id="taskbar-dict">Phrase Dictionary</div>
        </div>
        <div class="taskbar-buttons5">
          <div class="home5" id="taskbar-aboutus">About Us</div>
        </div>
      </header>
      <section class="signify-me-logo-wrapper">
        <div class="signify-me-logo1">
          <div class="a-s-l-translator-parent">
            <div class="a-s-l-translator">
              <h1 class="video-translator2">Video Translator</h1>
              <div class="convert-asl-from">
                Convert ASL from a Video to English Language
              </div>
            </div>
            <div class="instructions-click-below-container">
              <p class="instructions1">INSTRUCTIONS:</p>
              <p class="click-below-to">
                Click below to upload media from your files. The file types
                supported are MP3
              </p>
              <p class="press-the-translate">
                Press the Translate button below and the converted text will
                appear in the text box below.
              </p>
            </div>
          </div>
          <div class="videotrans-wrapper">
            <div class="videotrans">
              <div class="taskbar-buttons15">
                <div class="taskbar-buttons-wrapper">
                  <button class="taskbar-buttons16">
                    <div class="home17">click here to upload media</div>
                  </button>
                </div>
                <button class="buttons3">
                  <div class="button3">TRANSLATE</div>
                </button>
                <div class="video-translator-instance">
                  <div class="translated-text-wrapper">
                    <div class="translated-text1">TRANSLATED TEXT:</div>
                  </div>
                  <div class="upload-message">
                    <div class="for-audio-click1">for audio, click here:</div>
                    <img class="upload-message-child" loading="lazy" alt="" />
                  </div>
                </div>
                <div class="buttons4">
                  <div class="button4">RESET</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer2">
        <div class="copyright-symbol1">
          <img
            class="signify-me-logo-copy-22"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/signify-me-logo-copy-2.svg') }}"
            id="signifyMeLogoCopy2"
          />

          <div class="link-list-parent">
            <div class="link-list">
              <div class="quick-links2">Quick Links</div>
              <div class="live-cam-translator-container">
                <div class="live-cam-translator3" id="liveCamTranslator">
                  Live Cam Translator
                </div>
                <div class="video-translator3" id="videoTranslatorText1">
                  Video Translator
                </div>
                <div class="phrase-dictionary3" id="phraseDictionaryText">
                  Phrase Dictionary
                </div>
                <div class="home18" id="homeText">Home</div>
              </div>
            </div>
            <div class="about2" id="aboutText">About</div>
            <div class="support2" id="supportText">Support</div>
          </div>
        </div>
        <div class="footer-copy">
          <img
            class="copyright-symbol-svgrepo-com-1-icon2"
            loading="lazy"
            alt=""
            src="{{ url_for('static', filename='public/copyrightsymbolsvgrepocom-1.svg') }}"
          />

          <div class="signify-me-20242">Signify Me! 2024</div>
        </div>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='script/javascript.js') }}"></script>
  </body>
</html>
